.place__paragraph {
    margin: 0;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    color: #FFFFFF;
    margin-bottom: 26px;
}

.place__paragraph:last-child {
    margin-bottom: 0;
}
@media screen and (max-width: 820px) {
    .place__paragraph {
        font-size: 15px;
        line-height: 135%;
    }
}
@media screen and (max-width: 775px) {
    .place__paragraph {
        font-size: 16px;
        line-height: 130%;
    }
}

@media screen and (max-width: 320px) {
    .place__paragraph {
        margin-left: 16px;
        margin-right: 16px;
    }
}