.cover__overlay {
    position: relative;
    max-width: 1184px;
    min-height: 740px;
    margin: 92px auto;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: url(../../../images/cover-trains.jpg) no-repeat center / cover;
}

@media screen and (max-width: 1024px) {
    .cover__overlay {
        min-height: 640px;
    }
}

@media screen and (max-width: 768px) {
    .cover__overlay {
        min-height: 480px;
        margin-bottom: 88px;
    }
}
@media screen and (max-width: 554px) {
    .cover__overlay {
        margin-bottom: 64px;
    }
}
@media screen and (max-width: 320px) {
    .cover__overlay {
        margin-top: 66px;
        min-height: 200px;
    }
}

.cover__overlay::before {
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #2A2C2F;
    opacity: 0.3;
    z-index: 1;
}

.cover__overlay:hover::before {
    opacity: 0.8;
    transition: 1s;
}