.intro__title {
    margin: 0;
    margin-top: 92px;
    max-width: 690px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
    color: #FFFFFF;
}

@media screen and (max-width: 768px) {
    .intro__title {
        font-size: 45px;
        margin-top: 88px;
        margin-right: 24px;
    }
}
@media screen and (max-width: 682px) {
    .intro__title {
        font-size: 32px;
        line-height: 35px;
    }
}
@media screen and (max-width: 320px) {
    .intro__title {
        line-height: 35px;
        margin-top: 64px;
        margin-right: 16px;
    }
}